/* Header */
.header {
	background-color: black;
	width: 100%;
	min-height: 50px;
	margin-bottom: 5px;
}

/* For the divs in my personal cv */ 
.cv {
	width: 30%;
	margin: 0px 1px 0px 1px;
}

.borderLeft {
	border-left: 1px solid black;
}

.padLeft {
	padding-left: 5px;
}

.left {
	float: left;
}

.minimumHeight {
	min-height: 175px;
}

/* span with a title */
.title {
	font-style: bold;
}